{% extends 'web/base.html' %}
{% load staticfiles %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutUs</title>

</head>
<body>
<br>
<br>
<br>
<div>
<h1 style="font-family:Arial;font-size:25px">Who are we ?</h1>
 <div> <h2 style="font-family:Arial;font-size:25px">The Developers</h2><p style="font-size:18px"> We are 2nd year students at University College of London (UCL). <br>We are a Team of 3 members : Nour Obeid , Dennis He and Alex Badea.<br>This is our R&D (Research and Development) Project with an industry/research client <br>in the field of Human-Computer Interaction and Machine Learning.The British Library is our client.<br>We were assigned this project on the 5th of October 2017.<br> The final delivery of this project is due for March 22 2018.</div>
<br>
<br>
<br>
<br>
<img  src="{% static 'web/images/ucllogo.png'%}" style="height:110px;width:130px;margin-left:660px;margin-top:-40px"> </p>
</div>
<hr>
<div> <h2 style="font-family:Arial;font-size:25px">Behind the Concept</h2>
     <br>

              <br>
     <br>

              <br>
     <br>

              <br>
     <br>

              <br>
     <br>

              <br>
<img  src="{% static 'web/images/BritishLibrary.png'%}" style="height:150px;width:90px;margin-left:670px;margin-top:-100px"> </p>
<!-- <div class="container" style="margin-top:-25px">
        <div class="row">
          <div class="col-md-4">
          <p>Nour Obeid <br> <img src="{% static 'web/images/me3.png'%}"style="height:220px;width:230px;margin-left:-30px"> </p>
          </div>
          <div class="col-md-4">
               <p>Dennis He <br> <img  src="{% static 'web/images/GoogleMapss.png'%}"style="height:50px;width:60px"></p>
          </div>
            <div class="col-md-4">
       <p>George Badea<br> <img  src="{% static 'web/images/GoogleMapss.png'%}" style="height:50px;width:60px"> </p>
          </div>
        </div>
  </div> -->
    <hr>

<h1 style="font-family:Arial;font-size:25px">Project Goal ?</h1>
<p style="font-size:18px"> The British Library is world-renowned for its research and tremendous effort to discover hidden historical content in their collections of documents. <br> Thousands and thousands of papers in the form of books, manuscripts or chronicles, but there is plenty of material still waiting to be disclosed. <br>The First World War is a significant event in human history with too much data related to it. It can take enormous amount of time to uncover them.<br> Language limitations can be a barrier: The language has developed since that time. Reading a text written during that period can be challenging.
    Experiences of the World War 1 can be completely different depending on the location, time, military unit and many other variants. <br>This broader project seeks to provide more context for the experiences of different military units in different locations of the war. In histories, memoirs, diaries, correspondence, what places are mentioned most, and what is said about them?
<br>Our solution is to apply text-mining to extract and structure relevant data from text. <br>We built a web application that extracts place names and their surrounding text, frequency of place names and frequent words, in order to summarize the topics and places mentioned in the text. Thus giving the user a glimpse into the past.
</p>

<br>

<h1 style="font-family:Arial;font-size:25px">What Next?</h1>
<p style="font-size:18px">This project can be enhanced and improved by adding sentiment analysis techniques to detect emotions and opinions <br> expressed in the text. Additionally, by changing the nature of the target entity from the texts (here the entity is place names) ,<br> this project can be be customized and applied in various contexts.</p>

<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>



{% endblock %}