<!DOCTYPE html> {% load staticfiles %}
<html lang="en">
<head>
    <title>{% block title %}Uncovering Lives of WW1{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/web.css' %}">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static 'web/js/d3.layout.cloud.js' %}"></script>
    <script src="{% static 'web/js/browserify.js' %}"></script>

    <nav class="navbar navbar-inverse" id="mainNav"> <!-- navbar-inverse makes the navbar black -->
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">UCL Team1</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'post_new' %}" class="top-menu">Demo</a>
                    </li>
                    <li><a href="#">Technology</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Documentation</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tutorial</a></li>
                            <li><a href="#">Bi-weekly Reports</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="#">{{request.user}} Welcome!></a></li>

                    <li><a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
                    </li>

                    {% else %}
                    <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>
</head>

<body>

{% block content %}

{% endblock %}

</body>
<footer class="container-fluid">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="footer-header"><a href="http://www.cs.ucl.ac.uk">UCL Computer Science Department</a></div>
            <ul class="fa-ul ">
                <li><a href="https://twitter.com/uclcs"><span class="fa fa-twitter"></span> @uclcs</a>
                <li><span class="glyphicon glyphicon-phone-alt"></span> +44 (0)20 7679 7214
                <li>
                    <div class="footer-address">
                        <span class="fa fa-building"></span>
                        University College London<br/>
                        Gower Street<br/>
                        London<br/>
                        WC1E 6BT<br/>
                    </div>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="footer-team">
                <p1>Team Members</p1>
                <li>Nour Obeid <br><span class="glyphicon glyphicon-envelope"></span>
                <li>Dennis He <br><span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:he0707@hotmail.com">he0707@hotmail.com</a>
                <li>George B <br><span class="glyphicon glyphicon-envelope"></span>
            </ul>
        </div>
    </div>

</footer>
</html>
