
    {% extends 'web/base.html' %}

    {% block content %}
   <div class="col-md-8 text-left">
      <h1>Overview</h1>
      <p>Experiences of the First World War could be profoundly[HD2]  different, depending on the location and type of deployment[HD3]  or military unit, stage of the war, medical issues, social class and more. This broader project seeks to provide more context for the experiences of different military units in different locations and different stages of the war. In histories, memoirs, diaries, correspondence and images about a given military unit (e.g. a battalion), what places are mentioned most, and is said about them - how are they described or discussed?.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    {% endblock %}
