{% extends 'web/base.html' %}{% load staticfiles %}


{% block content %}
<div class="container-fluid text-center">
  <div id="fixed" >
<h1 style="text-align:center ;padding:100px; margin: 0;font-family:Times New Roman; font-size:45px">UNCOVERING LIVES OF WORLD WAR I</h1>
  </div>
        <div style="position: absolute;left :0;top: 35%;width: 100%;">

        <img id="image" src="{% static 'web/images/swords-3.png' %}" height="96px" >
</div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div id="Overview">
        <!--   <h1 style="font-size:30px">Overview</h1> -->
            <p style="font-size:18px;padding-left:200px ; padding-right:200px;">Experiences of the First World War could be profoundly different,
                depending on the location , military unit, stage of the war and many other factors.
                This broader project seeks to provide more context for the experiences of different military units in
                different locations and different stages of the war.
                <b>In histories, memoirs, diaries, correspondence
                which places are mentioned most, and is said about
                    them ?</b> </p>

            <br>
            <br>

            <p style="font-size:18px;padding-left:50px;padding-right:50px"> We are collaborating with the British Library and by applying <!-- text-mining and geo-referencing techniques on a large collection of
                digitised books provided by the British Library we were able to extract location names related to WW1 .</p> -->
                Machine learning, Natural Language Processing Techniques , Corpus linguistics and Sentiment analysis techniques We are able identify and
                generate a gazetteer of the names of places within digitised publications from and about the First World
                War</p>
        </div>
        <hr>
    </div>
</div>

</div>
{% endblock %}
