{% extends 'web/base.html' %}
{% load staticfiles %}

{% block content %}

<body style="background-color:#FFFFFF">

<div class="container-fluid text-center">
<!--    <div class="sidenav" id="mySidenav">
        <div><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>
        <div class="well-sm"><p><a href="#Overview">Overview</a></p></div>
        <div class="well-sm"><p><a href="#requirements">Start</a></p></div>
        <div class="well-sm"><p><a href="#research">About</a></p></div>
    </div>


    <div class="text-left" id="main" data-spy="scroll" data-target="#mySidenav">
        <button onclick="openNav()" id="myBtn"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </button>   -->


        <div>
            <!-- TITLE -->
            <h1 style="text-align:center;padding:140px;margin:0;font-family:Times New Roman;font-size:55px;color:black;padding-top:20px">UNCOVERING LIVES OF WORLD WAR I</h1>
        </div>


<div>
     <!-- Image -->
   <img id="image" src="{% static 'web/images/1.jpg'%}">
</div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div>
        <!--   <h1 style="font-size:30px">Overview</h1> -->
            <p style="font-size:18px;padding-left:170px ; padding-right:170px;">Experiences of the First World War could be profoundly different, depending on the location, time, military unit, and many other variants.
                This broader project seeks to provide more context for the experiences of different military units in different locations of the war. <b>In histories, memoirs, diaries, correspondence,which places are mentioned most and what is said about them ?</b> </p>
 <!--           <p style="font-size:18px;padding-left:50px;padding-right:50px"> We are collaborating with the British Library and applying
                Machine learning & Natural Language Processing Techniques to our System.
                which detects and generate a gazetteer of place names and their description within digitised publications from and about the First World
                War</p>  -->
        </div>
<!--      <p>Transforms texts into images of Places in the user's mind, taking him back in History .</p>     -->
<br>
    <div class="wrapper">
    <button> <a href="{% url 'post_new' %} "style="color:black;width:120px;height:50px;font-size:24px" class="btn">Start</a> </button>
</div>

    </div>
<br>
</div>

 <div class="container">
        <div class="row">
          <div class="col-md-4" id="Overview">
              <h2 style="font-family:Times;font-size:35px">Key Functionalities </h2>
              <br>
              <p style="font-size:26px;text-align:inline;font-family:Calibri Body;margin-left:-90px;margin-right:0px">Extracts Place Names & Surrounding Text </p>
              <br>
              <p style="font-size:26px;text-align:left;margin-left:-25px;margin-top:30px;font-family:Calibri Body"> Google Maps Vizualisation <img src="{% static 'web/images/GoogleMaps.png'%}" style="height:250px;width:350px;margin-left:310px;margin-top:-56px"></p>
              <p style="font-size:26px;text-align:left;margin-left:100px;font-family:Calibri Body"><br> Place Name Occurence</p>
             <br> <p style="font-size:26px;text-align:left;margin-left:-65px;font-family:Calibri Body">Wikipedia Link</p>
              <br> <p style="font-size:26px;text-align:left;margin-left:-1px;font-family:Calibri Body">Word Frequency Cloud<img src="{% static 'web/images/cloudd.png'%}" style="height:250px;width:450px;margin-left:270px;margin-top:-100px"></p>



          </div>
          <div class="col-md-4" id="2">
               <p style="font-size:38px;font-family:Snell Roundhand;text-align:right"></p>
          <!--  <h2>Heading</h2>
              <p style="font-size:18px"><!--Empowered by is its capacity of detecting place names that aren't mentioned in official gazetteers,
            It gives the user a more realistic and a more precise image of life at various locations during the war. - <p style="font-size:38px;font-family:Snell Roundhand;text-align:right"><br>A glimpse into the past ...</p>
                Machine learning & Natural Language Processing Techniques to our System.   </p> -->
          </div>


          <div class="col-md-4" id="3">
       <h2 style="font-size:30px;text-align:right">A Collaboration with the British Library </h2>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="{% static 'web/images/BritishLibrary.png'%}" style="width:80px;height:146px;margin-left:50px;margin-top:-136px">
         <!--     <p style="font-size:38px;font-family:Snell Roundhand;text-align:right">For A glimpse into the past ...</p> -->
          </div>
        </div>
  </div>


<div style="margin-left:966px;margin-top:-390px">
    <h1>Helps</h1>
    <p style="font-size:25px">Summarize Text<br>Describe Place Names <br>Give more Context on World War I</br></p>
</div>


<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="checkbox" checked="" autocomplete="off"> Active
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Check
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Check
  </label>
</div>

-->


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="checkbox" checked="" autocomplete="off"> Active
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Check
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Check
  </label>
</div>


-->
 </body>

<script>

function openNav() {
    document.getElementById("myBtn").style.display = "none";
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.getElementById("mainNav").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
        document.getElementById("mainNav").style.marginLeft = "0";

    document.body.style.backgroundColor = "white";
}
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

</script>
{% endblock %}