
{% extends 'web/base.html' %}

 {% block content %}
     <h1>Login</h1>

     {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<body>
    <form action="" method="post">
         {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" value="" id="username"> <br />
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password"> <br />
        <input type="submit" value="login" />
    </form>
</body>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
{% endblock %}