
{% extends 'web/base.html' %}

    {% block content %}

<!--<div class="container">
        <div class="row">
          <div class="col-md-4">
                <h2>Copy text</h2>
            <p style="font-size:18px">Empowered by is its capacity of detecting place names that aren't mentioned in official gazetteers,
            It gives the user a more realistic and a more precise image of life at various locations during the war. </p>

          </div>
</div>
    </div>
-->
<h1 style="font-size:55px;font-family:Snell Roundhand;text-align:center"> A glimpse into the past ...</h1>

<br>
<br>
<br>
<p style="font-size :22px;margin-left:30px"><b>Upload</b> File or <b>Enter</b> Text in the box below </p>
<p style="font-size :19px"> ! File must be txt or xml format !</p>
<div>
  <div class="container-fluid bg-danger text-center" style="background-color:white">
                <h1 style ="family-font:">Enter Text</h1>
    </div>

    <div class="container-fluid text-center">
        <form method="POST" class="post-form btn-group ">{% csrf_token %}
            {{ form.as_p }}
            <br>
            <br>
            <button type="submit" class="save btn btn-default" style="padding:16px ;margin-right:50px;margin-left:50px">Analyze</button>
            <button type="reset"  class="btn btn-infor "style="padding:16px">Cancel</button>
        </form>

      <!--   <div class="wrapper" >
    <a href="{% url 'post_new' %}" class="btn btn-infor" style="float:right">Cancel</a>
</div>   -->
    </div>


<br>
        <br>
    </div>


<div class="container">
        <div class="row">
          <div class="col-md-9" style="margin-left:830px;margin-top:-425px;margin-bottom:120px">
              <h2>The output will generate</h2>
              <p>List of place names and text surrounding the place names  </p>
              <p>Number of Occurence for each Place Name</p>
              <p>Confidence Score</p>
              <p>Relevance Score</p>
              <p>Link to Wikipedia</p>
              <p>Google Maps</p>

          </div>
</div>
          </div>







    {% endblock %}