{% extends 'web/base.html' %}
{% block title %}Demo{% endblock %}

{% block content %}
<div class="post">
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
         {% for result in results %}
         <div class="post">

             <p>Place: {{ result.0 }}</p>
             <p>Occurence: {{ result.1 }}</p>
             <p>Relevance score:{{ result.2 }}</p>
             <p>Confidence score:{{ result.3 }}</p>
             <p>Types: {{ result.4 }}</p>
             <br>
                          <br>


         </div>
     {% endfor %}
</div>
{% endblock %}